altair 
awscli
awscli-plugin-endpoint
bokeh==3.3.4 
boto3 
cartopy 
colorcet 
dash 
datashader 
fastparquet 
folium 
fsspec 
geodatasets 
geopandas 
geoviews 
h5glance
h5netcdf
h5py 
hdf5plugin 
holoviews 
hvplot 
imageio 
intake 
ipysheet 
ipywidgets 
ipywidgets-bokeh 
jupyter_bokeh 
jupyter-server-proxy  
jupyterlab-pygments>=0.2.0,<0.3.0
jupyterlab-system-monitor 
jupyterlab==3.6.6 
lxml 
matplotlib  
nbgitpuller 
netcdf4 
nexpy 
nexusformat 
notebook 
numexpr 
numpy 
pandas 
panel==1.3.8 
pillow 
plotly 
pyarrow 
pydeck 
pyvista 
pyviz_comms>=2.0.0,<3.0.0
requests 
scikit-image 
scikit-learn 
scipy 
seaborn 
sqlalchemy 
statsmodels 
tifffile 
tqdm 
trame 
trame-vtk 
trame-vuetify 
urllib3 
vega_datasets 
vtk 
xarray 
xlrd 
xmltodict  
yfinance 
zarr 

