aiofiles==22.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
aiosqlite==0.21.0
albucore==0.0.24
albumentations==2.0.8
altair==5.5.0
annotated-types==0.7.0
ansi2html==1.9.2
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asteval==1.0.6
asttokens==3.0.0
attrs==25.1.0
babel==2.17.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.9.0
bokeh==3.3.4
boto3==1.36.23
botocore==1.36.23
branca==0.8.1
Cartopy==0.24.1
certifi==2025.1.31
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560564262/work
cftime==1.6.4.post1
charset-normalizer==3.4.1
click==8.1.8
colorcet==3.1.0
comm==0.2.2
contourpy==1.3.1
cramjam==2.9.1
crc32c==2.7.1
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1740893574422/work
cycler==0.12.1
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datashader==0.17.0
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.9
donfig==0.8.1.post1
entrypoints==0.4
executing==2.2.0
fastjsonschema==2.21.1
fastparquet==2024.11.0
filelock==3.13.1
Flask==3.0.3
folium==0.19.4
fonttools==4.56.0
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2025.2.0
geodatasets==2024.8.0
geopandas==1.0.1
geoviews==1.11.1
greenlet==3.1.1
h5py==3.13.0
hdf5plugin==5.0.0
holoviews==1.20.1
hvplot==0.11.2
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
intake==2.0.8
ipykernel==6.29.5
ipysheet==0.7.0
ipython==8.32.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
ipywidgets_bokeh==1.6.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-resource-usage==0.7.2
jupyter-server==1.24.0
jupyter-ydoc==0.2.5
jupyter_bokeh==4.0.5
jupyter_client==7.4.9
jupyter_core==5.7.2
jupyter_server_fileid==0.9.3
jupyter_server_proxy==4.4.0
jupyter_server_terminals==0.5.3
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.6
jupyterlab-pygments==0.2.2
jupyterlab-system-monitor==0.8.0
jupyterlab-topbar==0.6.1
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
lazy_loader==0.4
linkify-it-py==2.0.3
llvmlite==0.44.0
lmfit==1.3.2
lxml==5.3.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.1.2
more-itertools==10.6.0
mplcursors==0.6
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multipledispatch==1.0.0
multitasking==0.0.11
narwhals==1.27.1
nbclassic==1.2.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nbgitpuller==1.2.2
nest-asyncio==1.6.0
netCDF4==1.7.2
networkx==3.4.2
NeXpy==1.0.10
nexusformat==1.0.7
notebook==6.5.7
notebook_shim==0.2.4
numba==0.61.0
numcodecs==0.15.1
numexpr==2.10.2
numpy==2.1.3
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
opencv-python==4.11.0
opencv-python-headless==4.11.0
OpenVisusNoGui==2.2.138
openvisuspy==1.0.70
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
panel==1.3.8
param==2.2.0
parso==0.8.4
patsy==1.0.1
peewee==3.17.9
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
plotly==6.0.0
pooch==1.8.2
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.2.1
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pybind11==2.13.6
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pyct==0.5.0
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
Pygments==2.19.1
pylatexenc==2.10
pyogrio==0.10.0
pyparsing==3.2.1
pyproj==3.7.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
python-json-logger==3.2.1
pytz==2025.1
pyvista==0.44.2
pyviz-comms==2.3.2
PyYAML==6.0.2
pyzmq==26.2.1
qtconsole==5.6.1
QtPy==2.4.3
referencing==0.36.2
requests==2.32.3
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.22.3
s3transfer==0.11.2
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
scooby==0.10.0
seaborn==0.13.2
Send2Trash==1.8.3
shapely==2.0.7
simpervisor==1.0.0
simsimd==6.5.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.38
stack-data==0.6.3
statsmodels==0.14.4
stringzilla==3.12.5
sympy==1.13.1
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2025.2.18
tinycss2==1.4.0
toolz==1.0.0
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trame==3.8.0
trame-client==3.5.2
trame-server==3.3.0
trame-vtk==2.8.15
trame-vuetify==2.8.1
triton==3.2.0
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.1
uc-micro-py==1.0.3
uncertainties==3.2.2
uri-template==1.3.0
urllib3==2.3.0
vega-datasets==0.9.0
vtk==9.3.1
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.6
widgetsnbextension==4.0.13
wrapt==1.17.2
wslink==2.2.2
xarray==2025.1.2
xlrd==2.0.1
xmltodict==0.14.2
xyzservices==2025.1.0
y-py==0.6.2
yarl==1.18.3
yfinance==0.2.54
ypy-websocket==0.8.4
zarr==3.0.3
zipp==3.21.0
