{% extends base %}

{% block title %}NSDF Dashboard{% endblock %}

{% block postamble %}

  <!-- if you want to enable Google Analytics
    <script async src="https://www.googletagmanager.com/gtag/js?id=xyzxyzxyz"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'xyzxyzxyz');
    </script>
   -->

  <style>
    {% include 'styles.css' %}
  </style>
{% endblock %}

{% block contents %}
{{ super() }}
{% endblock %}
